{% extends 'students/base.html' %}

{% block content %}
<div class="container mt-5">
    <h2>Add a new student</h2>
    <br>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-group">
            <label>Student Number</label>
            {{ form.student_nr }}
        </div>
        <br>
        <div class="form-group">
            <label>First Name</label>
            {{ form.first_name }}
        </div>
        <div class="form-group">
            <label>Second Name</label>
            {{ form.second_name }}
        </div>
        <div class="form-group">
            <label>Age</label>
            {{ form.age }}
        </div>
        <div class="form-group">
            <label>Email</label>
            {{ form.email }}
        </div>
        <div class="form-group">
            <label>Number</label>
            {{ form.number }}
        </div>
        <div class="form-group">
            <label>Nationality</label>
            {{ form.nationality }}
        </div>
        <div class="form-group">
            <label>Field of Study</label>
            {{ form.field_of_study }}
        </div>
        <div class="form-group">
            <label>Biography</label>
            {{ form.bio }}
        </div>
        <br>
        <div class="form-group">
            <label>Upload</label>
            {{ form.upload }}
        </div>
        <br>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
{% endblock %}
