{% extends 'students/base.html' %}

{% block content %}
<h3 class="m-4">Python the basic</h3>

<table class="table table-striped table-dark">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Full name</th>
      <th scope="col">Email</th>
      <th scope="col">Attendance</th>
      <th scope="col">Assignments</th>
      <th scope="col">Exam grade</th>
    </tr>
  </thead>
  <tbody>
  {% for data in grade_values %}
    <tr>
      <td>{{ data.student.student_nr }}</td>
      <td>{{ data.student.first_name }} {{ data.student.second_name }}</td>
      <td>{{ data.student.email }}</td>
      <td>@mdo</td>
      <td>{{ data.assignments }}</td>
      <td>{{ data.grade }}</td>
    </tr>
  {% endfor %}
  </tbody>
</table>

{% endblock content %}