{% extends 'students/base.html' %}

{% block content %}
<h3 class="m-4" style="margin-left:auto;margin-right:auto;">Schedule</h3>

<table class="table table-bordered " style="width: 60%;
margin-left:auto;margin-right:auto;border: 1px solid green;">
  <thead>
    <tr>
      <th scope="col">Date</th>
      <th scope="col">Hours</th>
      <th scope="col">Topic</th>
      <th scope="col">Test</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>13-01-2024</td>
      <td>-</td>
      <td>START</td>
      <td></td>
    </tr>
    <tr>
      <td>13-01-2024</td>
      <td>7</td>
      <td>Python - the basics</td>
      <td></td>
    </tr>
    <tr>
      <td>14-01-2024</td>
      <td>7</td>
      <td>Python - the basics</td>
      <td></td>
    </tr>
     <tr>
      <td></td>
      <td>-</td>
        <td>BREAK</td>
      <td></td>
    </tr>
    <tr>
      <td>27-01-2024</td>
      <td>7</td>
      <td>Python - the basics</td>
      <td></td>
    </tr>
    <tr>
      <td>28-01-2024</td>
      <td>7</td>
      <td>Python - the basics</td>
      <td></td>
    </tr>
    <tr>
      <td>03-02-2024</td>
      <td>7</td>
      <td>Python - the basics</td>
      <td>Test 1</td>
    </tr>
    <tr>
      <td></td>
      <td>-</td>
      <td>BREAK</td>
      <td></td>
    </tr>
    <tr>
      <td>18-02-2024</td>
      <td>7</td>
      <td>Python - intermediate</td>
      <td></td>
    </tr>
    <tr>
      <td>24-02-2024</td>
      <td>7</td>
      <td>Python - intermediate</td>
      <td></td>
    </tr>
    <tr>
      <td>25-01-2024</td>
      <td>7</td>
      <td>Python - intermediate</td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td>-</td>
      <td>BREAK</td>
      <td></td>
    </tr>
    <tr>
      <td>09-03-2024</td>
      <td>7</td>
      <td>Python - intermediate</td>
      <td></td>
    </tr>
    <tr>
      <td>10-03-2024</td>
      <td>7</td>
      <td>Python - intermediate</td>
      <td>Test 2</td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td>BREAK</td>
      <td></td>
    </tr>
    <tr>
      <td>20-04-2024</td>
      <td>7</td>
      <td>SQL databases</td>
      <td></td>
    </tr>
    <tr>
      <td>21-04-2024</td>
      <td>7</td>
      <td>SQL databases</td>
      <td></td>
    </tr>
    <tr>
      <td>27-01-2024</td>
      <td>7</td>
      <td>SQL databases</td>
      <td></td>
    </tr>
     <tr>
      <td>28-01-2024</td>
      <td>7</td>
      <td>SQL databases</td>
      <td>Test 3</td>
    </tr>
     <tr>
        <td></td>
        <td>-</td>
        <td>BREAK</td>
        <td></td>
     </tr>
       <tr>
      <td>19-05-2024</td>
      <td>7</td>
      <td>HTML, CSS, JavaScript</td>
      <td></td>
    </tr>
     <tr>
      <td>20-05-2024</td>
      <td>7</td>
      <td>HTML, CSS, JavaScript</td>
      <td></td>
    </tr>
     <tr>
      <td>25-05-2024</td>
      <td>7</td>
      <td>HTML, CSS, JavaScript</td>
      <td></td>
    </tr>
    <tr>
      <td>26-05-2024</td>
      <td>7</td>
      <td>HTML, CSS, JavaScript</td>
      <td>Test 4</td>
    </tr>
    <tr>
        <td></td>
        <td>-</td>
        <td>BREAK</td>
        <td></td>
    </tr>
    <tr>
      <td>08-06-2024</td>
      <td>7</td>
      <td>Backend technologies</td>
      <td></td>
    </tr>
    <tr>
      <td>09-06-2024</td>
      <td>7</td>
      <td>Backend technologies</td>
      <td></td>
    </tr>
    <tr>
      <td>15-06-2024</td>
      <td>7</td>
      <td>Backend technologies</td>
      <td></td>
    </tr>
    <tr>
      <td>16-06-2024</td>
      <td>7</td>
      <td>Backend technologies</td>
      <td></td>
    </tr>
    <tr>
      <td>22-06-2024</td>
      <td>7</td>
      <td>Backend technologies</td>
      <td></td>
    </tr>
    <tr>
      <td>23-06-2024</td>
      <td>7</td>
      <td>Backend technologies</td>
      <td>Test 5</td>
    </tr>
    <tr>
        <td></td>
        <td>-</td>
        <td>BREAK</td>
        <td></td>
    </tr>
    <tr>
      <td>06-07-2024  </td>
      <td>7</td>
      <td>Final project</td>
      <td></td>
    </tr>
    <tr>
      <td>07-07-2024</td>
      <td>7</td>
      <td>Final project</td>
      <td></td>
    </tr>
    <tr>
      <td>13-07-2024</td>
      <td>7</td>
      <td>Final project</td>
      <td></td>
    </tr>
    <tr>
      <td>14-07-2024</td>
      <td>7</td>
      <td>Final project</td>
      <td></td>
    </tr>
    <tr>
      <td>20-07-2024</td>
      <td>7</td>
      <td>Final project</td>
      <td></td>
    </tr>
    <tr>
      <td>21-07-2024</td>
      <td>7</td>
      <td>Final project</td>
      <td></td>
    </tr>
    <tr>
      <td>27-07-2024</td>
      <td>7</td>
      <td>Final project</td>
      <td></td>
    </tr>
  </tbody>
</table>
{% endblock content %}