<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SDA Login</title>
</head>
<link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.0.0/mdb.min.css" rel="stylesheet">
<link href = "{% static 'css/login.css' %}" rel="stylesheet">
<body>
    <section class="h-100 gradient-form" style="background-color: #eee;">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-xl-10">
        <div class="card rounded-3 text-black">
          <div class="row g-0">
            <div class="col-lg-6">
              <div class="card-body p-md-5 mx-md-4">

                <div class="text-center">
                  <img src="{% static 'images/SDA_logo.jpeg' %}"
                    style="width: 185px;" alt="logo">
                  <h4 class="mt-1 mb-5 pb-1">Welcome to SDA Student Management System</h4>
                </div>
                <form action="" method="POST">
                  {% csrf_token %}

                  <p>Please log in to your account</p>

                  <div data-mdb-input-init class="form-outline mb-4">
                    <input type="text" id="form2Example11" class="form-control"
                      placeholder="Full Name" name="username"/>
                    <label class="form-label" for="form2Example11">Username</label>
                  </div>

                  <div data-mdb-input-init class="form-outline mb-4">
                    <input type="password" id="form2Example22" class="form-control" name = "password"/>
                    <label class="form-label" for="form2Example22">Password</label>
                  </div>
                  {% if messages %}
                    {% for message in messages %}
                      <div class="alert alert-warning">
                        {{ message }}
                      </div>
                    {% endfor %}
                  {% endif %}
                  <br>
                  <div class="text-center pt-1 mb-5 pb-1">
                    <button data-mdb-button-init data-mdb-ripple-init class="btn btn-primary btn-block fa-lg
                    gradient-custom-2 mb-3" type="submit">Log in
                    </button>
                    <a class="text-muted" href="#!">Forgot password?</a>
                  </div>
                </form>

              </div>
            </div>
            <div class="col-lg-6 d-flex align-items-center gradient-custom-2">
              <div class="text-white px-3 py-4 p-md-5 mx-md-4">
                <h4 class="mb-4">Who are we ?</h4>
                <p class="small mb-0">We've been on the market for many years and have built a global community that
                  stretches from Europe to Asia. We know what it's like to start a new career in a whole different
                  field. But the tech sector is looking for talent and offers many opportunities.
                  Trust us, we know how it works..</p>
                  <br>
                  <br>
                <h4 class="mb-4">Want to know more ?</h4>
                <br>
                <p>
                  Visit our website on <a class="btn btn-primary" href="https://sdacademy.al/" role="button" target="_blank">SDA Albania</a>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<script src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.0.0/mdb.min.js"></script>
</body>
</html>